<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/stylesheet/style2.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>browser1</title>
    
</head>
<body>
    <div class="header"><h1>COMMENT SECTION ANALYSIS</h1>
        <img class="ist" src="static/images/360_F_510553657_ArMDtslyj9TryEMl0Xg6fwSj7sQozvrU.jpg" alt="senti">
    </div>
    <div class="post">
        Enter the URL of your video
    </div>
    <div class="container">
        
            <form id="videoForm">
                <input type="text" id="videoUrl" placeholder="Enter video URL">
            </form>
        <button type="submit" id="submitButton">Submit</button>
    </div>
    <div class="im2"><img class="2nd" src="static/images/zfql0dionx221.webp" alt="graph"></div>

    <footer>
        
        
        <div class="logo">
          <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
          <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
          <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
          <a href="#" class="youtube"><i class="fab fa-youtube"></i></a> <!-- Use "github" class instead of "instagram" -->
        </div>
      </div>
       
    
    </footer>
      
</body>
</html>