<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/stylesheet/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <title>Browser</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="navbar">
    <h1>
      COMMENT SECTION ANALYSIS
    </h1>
    <form action="{{ url_for('dashboard') }}" method="get">
      <button style="background-color: black; color: white">Try it</button>
    </form>
  </div>
  <div class="about">
    <h1>About Us</h1>
  </div>
  <a class="prehead">Subheading for description or instruction</a>
  <div class="hero">

    <p>Welcome to Comment Section Anaysis,your go-to hub for<br>
      insightful anaysis of online discussions.We specialise in<br>
      deciphering the dynamics of comment sections across various<br>
      digital platforms,uncovering trends,sentiments and behaviors<br>
      that shape online conversations.Leveraging advanced data<br> analytics and machine learning
      techniques,we provide-in-depth <br>insights tailored to your specific needs. From
      content creators to<br> marketers and researchers, our comprehensive approach <br>ensures a
      thorough understanding of comment landscapes,<br> enabling you to drive engagement and foster
      meaningful<br> connections ethically. Join us in exploring the rich tapestry of <br>online discourse and harness
      the power of comment sections to <br>make informed decisions and shape the digital landscape.
      Start<br> your journey with Comment Section Anaysis today!</p>
    <a> <img class="comment" src="static/images/sentiment-analysis-for-youtube-comments.jpg" alt="comment"></a>
    <div>

      <footer>
        <div class="postfoot">
          <div class="im">
            <a href="https://www.commentanalysis.com" class="mail">www.commentanalysis.com</a>

          </div>
          <div class="logo">
            <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
            <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
            <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
            <!-- Use "github" class instead of "instagram" -->
          </div>
        </div>
        <img src="static/images/4059220_1592205269_Untitled-2.jpg" alt="youtube">

      </footer>


</body>



</html>